h1 {
    padding: 60px;
    text-align: center;
    background: #2c3e50;
    color: white;
    font-size: 30px;
    border-radius: 10px;
  }
  
h2 {
    font-size: 1.6em;
    font-weight: bolder;
    text-align: center;
    background: #2c3e50;
    color:white;
    padding: 10px;
    border-radius: 10px;
}

h3{
    font-size: 1.3em;
    font-weight: bolder;
    color: #2c3e50;
}